.mainContainer{
    position: relative;
  display: flex;
  flex-direction: column;
background: linear-gradient(
    135deg,
  rgba(5, 5, 5, 1),
  rgba(20, 20, 20, 1),
  rgba(45, 45, 45, 1)
  );
height: 100vh;
    width: 100vw;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-style: italic;

}
.detailsContainer{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40%;
    margin-top: 5%;
}
.detailsContainer h1{
    position: relative;
    width: 100%;
     line-height: 1.3;
}
.details{
    /* background: linear-gradient(135deg, #8a2be2, #00c6ff);
    border: 2px solid;
    border-radius: 5px; */
   /* color: #4da3ff; */
   color: #9b5cff;
    text-shadow: 0 0 8px rgba(155, 92, 255, 0.4);
    transition:  all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}
.details:hover{
    transform: scale(1.1);
}
.mail-details{
  position: absolute;
  top: 45%;
  right: 10px;
}
.all-tabs-container{
    /* color: #c6d317ab; */
    display: flex;
    flex-direction: row;
    justify-content:end;
}
.profile{
    position: absolute;
   top: 10px;
  right: 10px;
    background-color: #ffffff;
    margin-top: 5%;
    margin-right: 3%;
    height: 250px;
    width: 250px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
     overflow: hidden;
     cursor: pointer;
     transition: transform 0.3s ease;
}
.profile:hover {
  transform: scale(1.06)
}
.profile-img{
     width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottomContent {
  margin-top: auto;         
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mainButton{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    /* background-color: blue; */
    
}
.mainButton button{
    background: linear-gradient(
    135deg,
    #3a3a3a,
    #1a1a1a
  );
   color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
   font-size: 17px;
   font-style: italic;
   cursor: pointer;
  transition: all 0.3s ease;
  margin-top: auto;
}

.mainButton button:hover{
  background: linear-gradient(
    135deg,
    #4a4a4a,
    #2a2a2a
  );
  transform: translateY(-12px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}
.profile-water-mark{
    position: absolute;
    top: 30px;
    right: 14%;
     color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 0 10px rgba(23, 87, 129, 0.658);
  font-style: italic;
}