.project-main-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
}
.container-cms{
    /* display: flex; */
    position: relative;
    height: 30vh;
    width: 30vw;
    background-color: #ffffff;
    margin: 3%;
    /* padding: 5px; */
    border-radius: 12%;
    overflow: hidden;
    border: 2px solid lightblue;
    cursor: pointer;
}
.clusterimg{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    object-fit:cover;

    
}
.project-overlay{
     position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;


    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    background: rgba(0, 0, 0, 0.35); 
    color: #ffffff;

    text-align: center;
    font-weight: bold;

    transition: 0.3s ease;

}
.vocImg{
      height: 100%;
    width: 100%;
}
.back-btn{
    position:absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    cursor: pointer;
}

/* About............................ */
.main-container{
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.second-container{
    position: absolute;
    top: 10px;
    left: 10px;
}
.main-container h1{
    margin-top: 6%;
    color: #ffffff;
    font-style: italic;
}
.abouticon{
    background-color: #ffffff2c;
    color: #ffffff;
    height: 100px;
    width: 75px;
    text-decoration: dotted;
    border-radius: 100%;
}